# fly.toml app configuration file generated for kapehan-front-end on 2026-01-18T09:00:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kapehan-front-end'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[env]
  NEXT_PUBLIC_API_URL = 'https://kapehan-api.fly.dev/v1'