# fly.toml app configuration file generated for kapehan-frontend on 2026-01-30T13:37:01+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kapehan-front-end'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[env]
  NEXT_PUBLIC_API_URL = 'https://api.kapehan.ph/v1'
  NODE_ENV = 'production'

[[services]]
  protocol = 'tcp'
  internal_port = 3000

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
